[submodule "external/spirv_cross"]
	path = external/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/slang"]
	path = external/slang
	url = https://github.com/shader-slang/slang.git
