
/bin/
/old/
/Makefile.Debug
/Makefile.Release
/Makefile
/object_script.n.Debug
/object_script.n.Release
/cppcheck
/.idea
*.out
*.png
*.obj
*.mtl
*.csv
*.cfg
*.o
*.user
/cmake/
/cov/
*.Debug
*.Release
/stash/
/half instructions/
