[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/spirv_reflect"]
	path = external/spirv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "external/JoltPhysics"]
	path = external/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "external/bc7enc_rdo"]
	path = external/bc7enc_rdo
	url = https://github.com/richgel999/bc7enc_rdo.git
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://luajit.org/git/luajit.git
